{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block style %}
    <link href="{% static 'css/site1.css' %}">
    <link href="{% static 'css/font.css' %}">
    {% endblock %}
</head>
<body>
{% include 'header.html' %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>

</body>
</html>