{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
        {% for post in posts %}
            <div class="post">
                <h3>
                    <a href="{% url 'site1.views.post_detail' pk=post.pk %}">{{ post.title }}</a>
                    {% if user.is_staff %}
                    <a href="{% url 'post_edit' pk=post.pk %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                </h3>
                <br>
                <div class="date">
                    {{ post.published_date }}
                </div>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}
</div>

{% endblock %}