{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <div class="post">
            {% if post.created_date %}
                <div class="date1">
                    <p>Date: {{ post.created_date }} </p>
                </div>
            {% endif %}
            <h1 style="color:#337ab7;">
                {{ post.title }}
                {% if user.is_staff %}
                <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            </h1>
            <p>{{ post.text|linebreaks }}</p>
        </div>
            <a class="btn btn-default" href="{% url 'add_comment' pk=post.pk %}">Add comment</a>
            {% for comment in post.comments.all %}
                {% if user.is_authenticated or comment.approved %}
                <div class="comment">
                    <div class="date">
                        {{ comment.created_date }}
                        {% if not comment.approved %}
                            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                    </div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                </div>
                {% endif %}
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
    {% else %}
        <h4>You need to login to read this blog. <a href="/site1/login/">Click here</a> to continue. </h4>
    {% endif %}
</div>
{% endblock %}