{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
        {% for post in posts %}
            <div class="post">
                <h3>
                    <a href="{% url 'site1.views.post_detail' pk=post.pk %}">{{ post.title }}</a>
                    {% if user.is_staff %}
                    <a href="{% url 'post_edit' pk=post.pk %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                </h3>
                <br>
               {% if post.published_date %}
                    <div class="date">
                        <p>Last Edited: {{ post.published_date }}</p>
                    </div>
                {% endif %}
                <p>{{ post.text|linebreaks }}</p>
                <a href="{% url 'site1.views.post_detail' pk=post.pk%}">Comments: {{post.approved_comments.count}}</a>
            </div>
        {% endfor %}
</div>

{% endblock %}